.root {
	-fx-base: #2C3539;
	-fx-background: #2C3539;
	-fx-control-inner-background: #2C3539;
}

.main-box {

}

.grid-box {

}

.menu-bar {
	-fx-background-color: linear-gradient(to top, -fx-base, #000000);
}

.grid-pane {
  -fx-padding: 4;
}

.block {
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
  -fx-background-insets: 0, 2;
  -fx-padding: 2;
}

.empty-field {
  -fx-text-fill: #FFFFFF;
	-fx-border-color: -fx-base;
  -fx-pref-height: 4em;
  -fx-pref-width: 4em;
  -fx-font-family: "Calibri";
  -fx-font-size: 2em;
	-fx-font-style: normal;
  -fx-font-weight: normal;
  -fx-alignment: center;
	-fx-background-color: linear-gradient(from 0% 0% to 50% 50%, #FFFFFF 0%, #000000 50%)
}

.empty-field:hover {
  -fx-text-fill: #000000;
	-fx-border-color: -fx-base;
  -fx-pref-height: 4em;
  -fx-pref-width: 4em;
  -fx-font-family: "Calibri";
  -fx-font-size: 2em;
	-fx-font-style: normal;
  -fx-font-weight: normal;
  -fx-alignment: center;
	-fx-background-color: linear-gradient(from 0% 0% to 50% 50%, #000000 0%, #FFFFFF 50%)
}

.hint-field {
  -fx-text-fill: -fx-base;
	-fx-border-color: -fx-base;
  -fx-pref-height: 4em;
  -fx-pref-width: 4em;
  -fx-font-family: "Calibri";
  -fx-font-size: 2em;
	-fx-font-style: normal;
  -fx-font-weight: normal;
  -fx-alignment: center;
	-fx-background-color: linear-gradient(from 0% 0% to 50% 50%, #FFFFFF 0%, #000000 50%)
}

.illegal-field {
  -fx-text-fill: #CC0000;
	-fx-border-color: -fx-base;
  -fx-pref-height: 4em;
  -fx-pref-width: 4em;
  -fx-font-family: "Calibri";
  -fx-font-size: 2em;
	-fx-font-style: normal;
  -fx-font-weight: normal;
  -fx-alignment: center;
	-fx-background-color: linear-gradient(from 0% 0% to 50% 50%, #FFFFFF 0%, #000000 50%)
}
